# example env file, please copy this and rename it to .env and fill in the values for your environment
MINECRAFT_INSTANCE=C:\Users\username\AppData\Roaming\PrismLauncher\instances\TerraFirmaFactions\minecraft
DEV_REPO=C:\Users\username\Workshop\Repos\project.terraFirmaFactions